<h1>Editing Carrera Investigacion</h1>

<%= render 'form', carrera_investigacion: @carrera_investigacion %>

<%= link_to 'Show', @carrera_investigacion %> |
<%= link_to 'Back', carrera_investigacions_path %>
