<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @trabajo_grado.nombre %>
</p>

<%= link_to 'Edit', edit_trabajo_grado_path(@trabajo_grado) %> |
<%= link_to 'Back', trabajo_grados_path %>
