<h1>Editing Materia Investigacion</h1>

<%= render 'form', materia_investigacion: @materia_investigacion %>

<%= link_to 'Show', @materia_investigacion %> |
<%= link_to 'Back', materia_investigacions_path %>
