<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @grupo_investigacion.nombre %>
</p>

<%= link_to 'Edit', edit_grupo_investigacion_path(@grupo_investigacion) %> |
<%= link_to 'Back', grupo_investigacions_path %>
