<h1>Editing Profesor Investigacion</h1>

<%= render 'form', profesor_investigacion: @profesor_investigacion %>

<%= link_to 'Show', @profesor_investigacion %> |
<%= link_to 'Back', profesor_investigacions_path %>
